<!-- <nav class="navbar" fxLayoutAlign="center center" [appFixedMenu]="'fixed'" [howFixed]="'top'"> -->
<nav class="navbar" fxLayoutAlign="center center">
  <div class="block" fxLayoutAlign="space-between center">
    <a class="logo" fxLayoutAlign="center center">
      <mat-icon class="interval">forum</mat-icon>
      <span class="text">HamaWall</span>
    </a>
    <div fxLayoutAlign="space-around center" class="search">
      <mat-icon>search</mat-icon>
      <input type="text" class="text" placeholder="搜尋">
    </div>
    <div class="menu-icon" fxLayout fxLayoutGap="1em">
      <mat-icon class="cursor-pointer">favorite_border</mat-icon>
      <mat-icon class="cursor-pointer">account_circle</mat-icon>
    </div>
  </div>
</nav>
