.center {
  margin: 7% auto;
  width: 667px;
}

@media screen and (max-width: 1280px) {
  .center {
    margin: 10% auto;
  }
}

@media screen and (max-width: 768px) {
  .center {
    margin: 15% auto;
    width: 100%;
  }
}

@media screen and (max-width: 666px) {
  .center {
    margin: 30% auto;
    width: 100%;
  }
}
