<mat-card class="card">
  <mat-card-header>
    <mat-card-title>kevinwang6303</mat-card-title>
    <mat-card-subtitle>高雄市立前鎮游泳池</mat-card-subtitle>
    <img mat-card-avatar src="assets/images/evan.jpg" />
  </mat-card-header>
  <img mat-card-image src="assets/images/1.jpg" />
  <div>
    <mat-icon class="cursor-pointer  magin-right1em">favorite_border</mat-icon>
    <mat-icon class="cursor-pointer">chat_bubble_outline</mat-icon>
  </div>
  <mat-card-content class="content">
    <p class="reply">
      <strong>kevinwang6303：</strong>
      <span>游泳中!!!!!</span>
    </p>
    <p class="reply">
      <strong>XuPeiYao：</strong>
      <span>這什麼爛東西</span>
    </p>
    <p class="reply">
      <strong>SHANG-TING：</strong>
      <span>爛東西</span>
    </p>
    <p class="load-more">3小時前</p>
    <p class="load-more">載入更多留言</p>
  </mat-card-content>

  <mat-card-footer class="footer" fxLayoutAlign="center">
    <textarea class="reply-input" placeholder="留言........"></textarea>
    <button mat-mini-fab color="accent">
      <mat-icon matTooltip="輸入">subdirectory_arrow_left</mat-icon>
    </button>
  </mat-card-footer>
</mat-card>
