/* You can add global styles to this file, and also import other style files */

body {
  background: #efefef;
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

strong,
b {
  font-weight: bold;
}

.text-c {
  text-align: center;
}
